.file{
    padding-left: 15px;
    margin-bottom: 10px;    
    cursor: pointer;
}

.file__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.file__name {
    padding-left: 5px;
}

.file__bigArrow {
    padding-right: 10px;
    transform: rotate(90deg);
    transition: 0.3s;
}

.file__smallArrow {
    transform: rotate(-90deg);
    transition: 0.3s;
}

.file__icon {
    display: inline-block;
    padding-left: 10px;
}
